pytorch-lightning==2.0.2

# huggingface_hub
huggingface-hub>=0.22.0 # this version is fro unidepth v2
diffusers >= 0.9.0
accelerate
transformers

kornia

plyfile
open3d 
numpy==1.26.4
opencv-python==4.9.0.80
imageio==2.25.0
imageio-ffmpeg 
scikit-image
kornia 
black 
chumpy 
rtree 
tensorboardX 
tensorboard

transforms3d 
munch
#opencv-contrib-python==3.4.11.45
ipython 
jupyter 
pycocotools

rich==13.5.3
moviepy 
pyrender==0.1.45 
shapely==1.8.4 
trimesh==3.12.6 
triangle
pydot

omegaconf

numba
hydra-core
openpyxl

cython

ninja
PyOpenGL 
glfw 
xatlas 
gdown

# ! warning, the timm for unidepth may require 0.9
# timm==0.6.7 # for zeodepth old verison
timm==0.9

plyfile
configargparse
easydict

Pillow==9.5.0

# marigold
accelerate>=0.22.0
diffusers>=0.20.1
transformers==4.39.1

einops
wandb


peft==0.5.0
timm
easydict
decord
sentencepiece
protobuf
flash_attn
PyYAML
scipy
tokenizer
pandas
opencv_python